<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Metaguest</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h3>Hi there. This is a sample page, a quick start project for building a Messenger Chatbot.</h3>
    

    <h3>The other chatbot I built before:</h3>
    
    <div>
        <p>Setup a get started button and a persistent menu</p>
        <form action="/setup" method="POST">
            <button type="submit"> Set up </button>
        </form>
    </div>
    <div>
        <p>Testing write data to google sheets online</p>
        <form action="/write-data" method="POST">
            <button>Write data</button>
        </form>
    </div>
</body>

</html>